<body class="bg-dark">
    <div class="container d-grip gap-3 y-4">
        <div class="row">
            <div class="d-flex align-items-center">
                <h2 class="text-light" id="tituloFilme">{{filme.nomePt}} ({{filme.anoLancamento}})</h2>
                <div class="ms-auto text-end">
                    <button (click)="toggleFavorito(filme)" class="custom-favorito-button btn btn-danger text-black">
                        <i [ngClass]="{'bi bi-star-fill': favorito, 'bi bi-star': !favorito}"></i>
                        {{ favorito ? 'Remover dos Favoritos' : 'Adicionar aos Favoritos' }}
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <h5 class="text-light fst-italic" id="tituloFilme">{{filme.nomeOriginal}} </h5>
        </div>

        <div class="row gap-3">
            <div class="col-lg-3">
                <img class="img-fluid rounded-3" id="poster" src={{filme.posterUrl}}>
            </div>
            <div class="col-lg">
                <div class="ratio ratio-21x9 h-100">
                    <iframe class="rounded-3" id="iFrameTrailer" frameborder="0" allowfullscreen
                        [src]="filme.videoUrl"></iframe>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="d-flex m-3 gap-1 col-1" id="divGeneros" *ngFor="let genero of filme.generos">
                <span class="badge rounded-pill fs-7 px-2 py-2 bg-danger text-dark">{{genero}}</span>
            </div>
        </div>

        <div class="row border-top">
            <h5 class="f-5 text-light align-items-justify " id="sinopse"> {{filme.sinopse}}</h5>
        </div>
        <div class="row border-top">
            <div class="col-lg-1 align-items-center">
                <h5 class="f-5 text-light fw-bolder  ">Direção:</h5>
            </div>
            <div class="col-lg-3 d-flex">
                <span class="badge rounded-pill fs-4 px-5 py-2 bg-black text-light " id="direcao">
                    {{filme.diretor.name}}</span>
            </div>
        </div>

        <div class="row border-top d-flex" id="divElenco">
            <div class="col-lg-1">
                <h5 class="f-5 text-light fw-bolder ">Elenco:</h5>
            </div>
            <div class="col-lg-1 d-flex" id="nomesElenco">

            </div>

            <div class="row g-3">
                <div class="col-6 col-md-4 col-lg-2" *ngFor="let artista of filme.elenco"
                    routerLink="/view/artista-detalhes/{{artista.id}}">
                    <div class="d-grid gap-1 text-center">
                        <p class="text-danger text-decoration-none mb-0">{{artista.name}}</p>
                        <img class="img-fluid rounded-3 card" id="poster"
                            src="https://image.tmdb.org/t/p/original/{{artista.profile_path}}">
                        <a class="fs-7 link-warning text-decoration-none fst-italic"
                            id="titulo">{{artista.character}}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
